.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-size: 40px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 300px 0;
  background-size: 100%;
}
section.module.parallax h1 {
  font-size: 106px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.module.parallax-1 {
  background-image: url("img/art1.jpg");
}
section.module.content {
  padding: 15vh 20vh 10vh 20vh;
}
